main {
  display: grid;
  height: auto;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(5, 300px);
  grid-gap: 50px 50px;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}
main div {
  border: 2px solid black;
  background-color: #888;
  width: 100%;
  height: 100%;
  box-shadow: none;
  transition: all 0.3s;
}
main div:hover {
  transform: scale(1.2);
  border-radius: 30px;
  transition: 0.3s;
}