.slider_container {
	position: relative;
	overflow: hidden;
	width: 90%; /* изменено на относительное значение */
	max-width: 1000px; /* добавлено для ограничения максимальной ширины */
	height: 40vw; /* изменено на относительное значение */
	max-height: 400px; /* добавлено для ограничения максимальной высоты */
	margin: 25px auto;

	.slider {
		display: flex;
		transition: transform 0.5s ease-in-out;
	}

	.slide {
		width: 100%;
		display: flex;
		justify-self: center;
		align-self: center;
	}

	.btn-prev,
	.btn-next {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		background: transparent;
		font-size: 4vw; /* изменено на относительное значение */
		color: #333;
		border: none;
		padding: 1vw; /* изменено на относительное значение */
		cursor: pointer;
	}

	.btn-prev {
		left: 1vw; /* изменено на относительное значение */
	}

	.btn-next {
		right: 1vw; /* изменено на относительное значение */
	}
}
