.slider_container {
	position: relative;
	overflow: hidden;
	width: 90%;
	max-width: 1000px;
	height: 40vw;
	max-height: 400px;
	margin: 25px auto;

	.slider {
		display: flex;
		transition: transform 0.5s ease-in-out;
	}

	.slide {
		width: 100%;
		height: auto;
	}

	.btn-prev,
	.btn-next {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		background: transparent;
		font-size: 4vw;
		color: #333;
		border: none;
		padding: 1vw;
		cursor: pointer;
	}

	.btn-prev {
		left: 1vw;
	}

	.btn-next {
		right: 1vw;
	}
}
